@use "../../styles/colors" as *;

.social-link-button {
  background-color: $color-grey;
  color: $color-white;
  padding: 10px;
  display: block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 280px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;

  &:hover {
    color: $color-dark-grey;
    background-color: $color-primary;
  }
}
