@use "../../styles/colors" as *;

.social-links {
  text-align: center;
  background-color: $color-dark-grey;
  border-radius: 10px;
  padding: 40px 20px;
  line-height: 1;

  .avatar-image {
    border-radius: 100%;
    width: 88px;
  }

  .headlines {
    margin: 10px;
  }

  .headline-1 {
    margin: 0;
    padding: 5px;
    color: $color-white;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .headline-2 {
    margin: 0;
    padding: 5px;
    color: $color-primary;
    font-size: 0.7rem;
    font-weight: 500;
  }

  .quote {
    font-size: 10px;
  }
}

.social-links-list {
  margin: 20px 10px 0 10px;
  padding: 0;
  list-style: none;
}
